rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // 우리 반 담벼락 메모 규칙
    match /memos/{memoId} {
      // 누구나 메모를 읽을 수 있습니다.
      allow read: if true;

      // 5글자 이상일 때만 새로 작성하거나 수정할 수 있습니다.
      allow create, update: if request.resource.data.text is string 
                            && request.resource.data.text.size() >= 5;

      // 메모 삭제는 허용합니다.
      allow delete: if true;
    }
  }
}
